header {
    height: 20vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header-container {
    text-align: center;
    height: 25%;
    position: relative;
}

.links {
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}


@media screen and (max-width: 1024px) {
    header {
        height: 20vh;
    }
}
  
@media screen and (max-width: 600px) {
    header {
        height: 22vh;
    }

    .links {
        flex-direction: column;
        position: relative;
    }

    .links > a {
        width: 100%;
    }
}
