section {
    margin-bottom: 0;
    height: fit-content;
}

.resume-container {
    margin-bottom: 5rem;
}

.resume-container ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 3rem;
}

.resume-container h3 {
    text-align: center;
    margin: 3rem 0;
}

ul {
    margin-top: 2rem;
}

li {
    text-align: center;
    margin-top: 1.5rem;
}

.resume-container a {
    align-items: center;
}

.resume-btn {
    display: flex;
    position: relative;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .resume-container ul {
        grid-template-columns: repeat(4, 1fr);
    }
}
  
@media screen and (max-width: 600px) {
    .resume-container ul {
        grid-template-columns: repeat(3, 1fr);
    }
}
