section {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
    margin-bottom: 12rem;
}

.about-me-container {
    display: grid;
    grid-template-columns: 45% 55%;
    width: 100%;
    margin-bottom: 5rem;
}

.profile-pic {
    background: linear-gradient(var(--primary-color),var(--light-color));
    width: 18rem;
    position: relative;
    left: calc(50% - 9rem);
    margin-top: 5rem;
    border-radius: 8rem;
}

.profile-pic > img {
    border-radius: 8rem;
}

.social-icons {
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.about-me-content p {
    margin: 1.5rem 5rem 0 5rem;
    color: var(--light-color);
}

@media screen and (max-width: 1024px) {
    section {
        height: 68vh;
    }

    .about-me-container {
        display: inline;
    }
}
  
@media screen and (max-width: 600px) {
    section {
        height: 100vh;
        padding-top: 2rem;
    }

    section > h2 {
        margin-bottom: 2rem;
    }

    .profile-pic {
        width: 9rem;
        left: calc(50% - 4.5rem);
    }

    .about-me-content p {
        font-size: smaller;
        margin: 1rem 2rem 0 2rem;
    }
}